@charset "utf-8";

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "맑은 고딕";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
}

a{
  color: inherit;
}

.hidden{
  display: none;
}


/* layout */
main{
  display: flex;
}

main > *{
  border: 1px solid #ccc;
}

/* aside */
aside {
}

aside > *{
  width: 200px;
  border: 1px solid #ccc;
}

aside header{
  height: 100px;
}

aside nav{
  height: 550px;
}

main .content{
  flex: 1;
}

/* slide */
.slide_wrapper{
  display: flex;
  height: 400px;
}

.slide_wrapper > *{
  border: 1px solid #ccc;
}

.slide_image{
  flex: 1;
}

.quick_site{
  width: 230px;
}

/* news */
.news_gallery{
  display: flex;
  height: 250px;
}

.news_gallery > *{
  border: 1px solid #ccc;
  flex: 1;
}

/* footer */
footer{
  display: flex;
  height: 100px;
}

footer > *{
  border: 1px solid #ccc;
}

.footer_logo{
  width: 200px;
}

.copyright{
  flex: 1;
}

.family_site{
  width: 230px;
}
